<div class="chat-container">
  <div class="header-nav">
    <div class="content">
      <div class="img-nav">
        <img src="logo" alt="logo">
      </div>
      <div class="content-name">
        <span>S</span>
        <span>NombreUsuario</span>
        <a>Cerrar Sesion</a>
      </div>
    </div>
  </div>
  <div class="chat-main">

    <div class="chat">
      <div class="header-chat"></div>
      <div class="msj-caja"></div>
      <div class="sender">
        <input type="text" placeholder="Escriba aqui ...">
        <i class="pi pi-upload"></i>
        <i class="pi pi-send"></i>
      </div>
    </div>
    <div class="integrantes-caja">
    </div>
  </div>

</div>
